# Build / coverage
out/
coverage.out

# Temp files
tmp/*
!tmp/.gitkeep

# Log files
logs/*
!logs/.gitkeep

# Local storage mount
local/*
!local/.gitkeep

# Environments
.env
venv/

# IDE files
.idea/
